body,h1,h2,h3,h4,p  {
	color: #0B0B61;
}
.jumbotron.top-banner {
	background: white; 
	margin-bottom: 5px; 
	border: 1px solid #e3f1f9; 
	padding: 10px;
}
.nav-pills{
	background: white; 
	padding: 5px; 
	border: 1px solid #e3f1f9; 
	margin-bottom: 5px;
}
.content-body {
	margin-top: 20px;
}
.step-container {
	float: center;
}
.content {
	padding: 10px 5px;
	border: 1px solid #e3f1f9;
}
.horizontal-step {
	border: 1px solid #e3f1f9;
	background: url('../images/right-arrow.png') no-repeat right;
}
.horizontal-step:last-child {
	background: none;
}
.horizontal-step.active{
	background-color: #e3f1f9; 
	/*  background: #e3f1f9 url('../images/right-arrow.png') no-repeat right;*/
	cursor: pointer;
	border: 1px solid #429DFC;
	border: 1px solid #e3f1f9;
	text-decoration: underline;
}
.horizontal-step {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.horizontal-step.active.current {
	text-decoration: none;
}
.col-lg-2.horizontal-step:last-child {
	border-right: 1px solid #e3f1f9;
}
div.horizontal-step:first-child {
	border-left: 1px solid #e3f1f9;
}
.form-group {
	height: 56px;
}
.form-group.textarea {
	height: auto;
}
.horizontal-step h5 {
	color: #2A6496;
	color: rgba(44,100,150,0.2);
/*  margin: 10px;*/
}
.horizontal-step.active h5 {
	color: #0B0B61;
	
}
.operationCostItem {
	background:#eeeeee;  
	border: 1px solid #ccc;
	border-radius: 4px; 
	padding:5px 10px;
	margin-bottom:10px;
}
.operationCostItem table {
	margin-bottom: 0px;
}
.operationCostItem table td:first-child {
	padding-left: 20px;
}
.operationCostItem table td:last-child {
	text-align: right;
}
.stepContainer {
	clear: both;
	border: 1px solid #e3f1f9;
	border-top: 0px;
	padding: 25px 0px;
}
.group-estimation {
	font-weight: bold;
	border-bottom: 1px solid #e3f1f9;
	margin-bottom: 10px;
	padding: 5px 0;
}
.costEstimateContainer.off {
	display: none;
	visibility: hidden;
}
.costEstimateContainer.on {
	display: block;
	visibility: visible;
}
.input-group {
	width: 100%;
}
.input-group-addon {
	width: 200px;
	text-align: left;
}
.input-group-addon.calendar {
	width: 40px;
}
.group-check .input-group-addon {
	width: 40px;
}
.group-radio .input-group-addon {
	width: 40px;
}
input[type="file"] {
    width: 100%;
    text-align: left;
}

#formJobStatus .operationCostItem table td:last-child {
	text-align: left;
}
.table-condensed td:first-child {
	width: 40%;
}
.table-condensed td:last-child {
	width: 60%;
}
.table-condensed td .input-group.date {
	width: 200px;
	float: left;
}
#container-attachments .col-lg-6 .col-lg-11 {
	padding: 0;
}
#container-attachments .col-lg-6 .col-lg-1 {
	padding: 0;
}
#container-attachments .col-lg-6 .col-lg-1 .close {
	line-height: 1.5em;
	float: left;
	margin-left: 4px;
}
input.amount {
	text-align: right;
}
.superHide {
	display: none; 
	visibility: hidden;
}
.panel-heading {
	background-color: #E3F1F9 !important;
}
th {
	background-color: #E3F1F9 !important;
}